<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<title> DayDayUp </title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<style>
/*		body {
			 padding-top: 65px;   avoid navigation bar block top part of the content.
		}*/
		#bg {
		  background-image: url('images.jpg');
		  background-position: center top;
		  background-size: 1080px auto;
		  padding: 70px 90px 120px 90px;
		}
		.contain{
			margin: auto;
			padding-top: 50px;
			align-items: center;
			width: 400px;
		}
		.search {
		  padding: 30px;
		  background: rgb(34,34,34); /* for IE */
		  background: rgba(34,34,34,0.75);
		}
		.search h6, .search h4, .search h4 a { text-align: center; color: #ddd; font-weight: normal; }
		.form-class{
			margin: 0 auto;
		}
		.inputS{
			color: gray;
			padding-left: 5px;
			font-weight: normal;
		}

		.alertS{
			color: #990000;
			text-align: center;
			padding-left: 30px;
		}
	</style>
		
</head>
<body>
       

	<!-- Navbar -->
	<div id="bg">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Day Day Up</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="/login">Login</a></li>
						<li><a href="/signup">Sign Up</a></li>
				
					
					</ul>
				</div>
			</div>
		</nav>

    <!-- end of navigation bar-->

    <!-- form for user input-->
    
		<div class="contain">
			<div class="search">
				<% if (message.length > 0) { %><div class="alertS"><%= message %></div><% } %>
				<form action="/login" method="post" class="form-class"> 
					<h4>
					Username:&nbsp&nbsp<input type="text" class='inputS' name="email"><br><br>
					Password:&nbsp&nbsp <input type="password" class='inputS' name="password"><br><br>			
					<input type="submit" class='btn btn-primary' value="Login">
					</h4>
					<p><h6>Need an account? <a href="/signup">Signup</a></h6></p>
				</form>
			</div>
		</div>
	</div>
	<!-- Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>

